In [1]:
import pandas as pd

In [6]:
data1 = {
    'emp_id' :[1001, 1002, 1003, 1004, 1005, 1006, 1007] ,
    'name': ['Alex', 'Bret', 'Carla', 'Don', 'Emmett', 'Frank', 'Gina'],
    'age': [21, 22, 23, 24, 25, 26, 27]
}

df1 = pd.DataFrame(data1)
df1

   emp_id    name
0    1001    Alex
1    1002    Bret
2    1003   Carla
3    1004     Don
4    1005  Emmett
5    1006   Frank
6    1007    Gina

In [7]:

data2 = {
    'emp_id' :[1005, 1006, 1007, 1008, 1009, 1010, 1011] ,
    'name': ['Happy', 'Inita', 'John', 'Kate', 'Leyman', 'Martha', 'Nigel'],
    'age': [27, 28, 29, 30, 31, 32, 33]
}

df2 = pd.DataFrame(data2)
df2

   emp_id    name
0    1005   Happy
1    1006   Inita
2    1007    John
3    1008    Kate
4    1009  Leyman
5    1010  Martha
6    1011   Nigel

In [9]:
df_merged = df1.merge(df2, on="emp_id")
df_merged

   emp_id  name_x name_y
0    1005  Emmett  Happy
1    1006   Frank  Inita
2    1007    Gina   John

In [12]:
df_merged = df1.merge(df2, left_on="emp_id", right_on="name")
df_merged

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat